@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  width: 100%;
}

#main {
  width: 40%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  border-radius: 38px;
  margin-top: 20px;
  background: #ffffff;
  box-shadow: 35px 35px 70px #d9d9d9, -35px -35px 70px #ffffff;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 100%;
  margin-top: 20px;
}
nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
}
nav ul li {
  margin: 0 20px;
}
nav ul li a {
  font-size: 25px;
  text-decoration: none;
  color: black;
}
nav ul li a:hover {
  color: royalblue;
}

#question {
  display: flex;
  width: 90%;
  align-items: center;
  flex-direction: column;
}
#question h1 {
  text-transform: uppercase;
}
#question p {
  margin: 20px 0;
  font-size: 30px;
  font-weight: 500;
}
.sentence {
  width: 50%;
  text-align: center;
  font-weight: 600;
}

#answer {
  width: 40%;
  height: 40px;
  outline: none;
  border: none;
  border: 1px solid lightblue;
  text-align: center;
}
#answer:focus {
  border: 2px solid #0096c7;
}

.result {
  width: 90%;
  margin: 5px 0;
  text-align: center;
  font-size: 25px;
  font-weight: 500;
}
button {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin: 10px 0;
}

#submit:hover,
#next:hover {
  background-color: #2ee59d;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}
#next:hover {
  background-color: royalblue;
  box-shadow: 0px 15px 20px royalblue;
}

button:active {
  transform: translateY(-1px);
}
.stuff {
  width: 100%;
  height: 80%;
  align-items: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.stuff p {
  margin: 10px 0;
  font-size: 20px;
  font-weight: 500;
}
@media screen and (max-width: 900px) {
  #main {
    width: 70%;
  }
}
@media screen and (max-width: 768px) {
  #answer {
    width: 90%;
  }
  .sentence {
    width: 90%;
  }
  nav ul li {
    margin: 0 10px;
  }
  nav ul li a {
    font-size: 19px;
  }
}
@media screen and (max-width: 500px) {
  #main {
    width: 90%;
  }
  nav ul li a {
    font-size: 16px;
  }
  nav ul li {
    margin: 0 5px;
  }
}
